/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.go-home {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}