
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		line-height: 1.1;
		color: #6c3231;
	}
}

#page-top {
	.breadcrumb {
		li {
			a {
				color: #7f7f7f;
				letter-spacing: 0.05rem;

				&.active {
					color: $theme-color;
				}
			}

			i {
				font-size: 0.5rem;
			}
		}
	}
}