
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.875rem; 
	position: relative;
	
	.title {
		font-size: 3rem;
		font-weight: 600;
		color: #6c3231;
	}
}